In [2]:
import numpy
import pandas as pd
import os

In [14]:
df_mundiales = pd.read_excel('./DatasetsInput/world_cups2.xlsx', sheet_name='world_cups')

In [15]:
df_mundiales.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

In [49]:
df_matches = pd.read_excel('./DatasetsInput/world_cups2.xlsx', sheet_name='matches')
df_matches.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

In [29]:
# Usamos sheets que son los sheets de excel(recordar que son como las pestañas que contienen cada tabla distinta de un mismo archivo)
df_players = pd.read_excel('./DatasetsInput/world_cups2.xlsx', sheet_name='players')
df_players.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN

In [30]:
# Primera forma de obtener la cantidad de mundiales de los cuales tenemos información
df_mundiales.shape

(20, 10)

In [31]:
# Segunda forma de obtener la cantidad de mundiales de los cuales tenemos información
len(df_mundiales)

20

# Obtener el nombre completo de cada mundial

In [32]:
df_mundiales['Year'] = df_mundiales['Year'].astype('str')

In [36]:
df_mundiales['Name'] = df_mundiales['Country'] + " " + df_mundiales['Year']
df_mundiales.head()

,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,Name
0,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549,Uruguay 1930
1,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363,Italy 1934
2,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7,France 1938
3,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246,Brazil 1950
4,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607,Switzerland 1954

In [38]:
columnas = list(df_mundiales.columns)
columnas

['Year',
 'Country',
 'Winner',
 'Runners-Up',
 'Third',
 'Fourth',
 'GoalsScored',
 'QualifiedTeams',
 'MatchesPlayed',
 'Attendance',
 'Name']

In [39]:
# Cambiando el orden, Name lo pongo al principio
columnas = ['Name'] + columnas[:-1]
columnas

['Name',
 'Year',
 'Country',
 'Winner',
 'Runners-Up',
 'Third',
 'Fourth',
 'GoalsScored',
 'QualifiedTeams',
 'MatchesPlayed',
 'Attendance']

In [40]:
df_mundiales = df_mundiales.get(columnas)
df_mundiales.head()

,Name,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,Uruguay 1930,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,Italy 1934,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363
2,France 1938,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7
3,Brazil 1950,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246
4,Switzerland 1954,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607

PAISES QUE CAMPEONARON COMO LOCALES

In [43]:
# Opción más recomendad
df_locales = df_mundiales.loc[df_mundiales['Country'] == df_mundiales['Winner']]
df_locales

,Name,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,Uruguay 1930,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,Italy 1934,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363
7,England 1966,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
10,Argentina 1978,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
15,France 1998,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100

In [44]:
# Otra opción
df_locales2 = df_mundiales.query('Country == Winner')
df_locales2

,Name,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance
0,Uruguay 1930,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549
1,Italy 1934,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363
7,England 1966,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135
10,Argentina 1978,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791
15,France 1998,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100

Partidos de mundiales con más goles

In [51]:
df_matches_short = df_matches.get(['Year', 'Home Team Name', 'Away Team Name', 'Home Team Goals', 'Away Team Goals'])
df_matches_short.head()

   Year Home Team Name Away Team Name  Home Team Goals  Away Team Goals
0  1930         France         Mexico                4                1
1  1930            USA        Belgium                3                0
2  1930     Yugoslavia         Brazil                2                1
3  1930        Romania           Peru                3                1
4  1930      Argentina         France                1                0

In [54]:
df_matches_short['Total Goals'] = df_matches_short['Home Team Goals'] + df_matches_short['Away Team Goals']

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [53]:
df_matches_short.head()

,Year,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals,Total Goals
0,1930,France,Mexico,4,1,5
1,1930,USA,Belgium,3,0,3
2,1930,Yugoslavia,Brazil,2,1,3
3,1930,Romania,Peru,3,1,4
4,1930,Argentina,France,1,0,1

In [73]:
df_matches_short.sort_values(by = 'Total Goals', ascending=False).head(15)

,Year,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals,Total Goals,Goal Differences
94,1954,Austria,Switzerland,7,5,12,2
312,1982,Hungary,El Salvador,10,1,11,9
87,1954,Hungary,Germany FR,8,3,11,5
40,1938,Brazil,Poland,6,5,11,1
105,1958,France,Paraguay,7,3,10,4
10,1930,Argentina,Mexico,6,3,9,3
91,1954,Germany FR,Turkey,7,2,9,5
243,1974,Yugoslavia,Zaire,9,0,9,9
80,1954,Hungary,Korea Republic,9,0,9,9
134,1958,France,Germany FR,6,3,9,3
70,1950,Brazil,Sweden,7,1,8,6
848,2014,Brazil,Germany,1,7,8,6
148,1962,Soviet Union,Colombia,4,4,8,0
826,2014,Brazil,Germany,1,7,8,6
24,1934,Italy,USA,7,1,8,6

In [66]:
df_matches_short['Goal Differences'] = abs(df_matches_short['Home Team Goals'] - df_matches_short['Away Team Goals'])

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [67]:
df_matches_short.head()

,Year,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals,Total Goals,Greater Differences,Differences,Goal Differences
0,1930,France,Mexico,4,1,5,3,3,3
1,1930,USA,Belgium,3,0,3,3,3,3
2,1930,Yugoslavia,Brazil,2,1,3,1,1,1
3,1930,Romania,Peru,3,1,4,2,2,2
4,1930,Argentina,France,1,0,1,1,1,1

In [74]:
df_matches_short = df_matches_short.drop(['Greater Differences', 'Differences'], axis=1)

KeyError: "['Greater Differences' 'Differences'] not found in axis"

In [72]:
# Mayores goleadas
df_matches_short.sort_values(by = 'Goal Differences', ascending=False).head(15)

,Year,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals,Total Goals,Goal Differences
80,1954,Hungary,Korea Republic,9,0,9,9
243,1974,Yugoslavia,Zaire,9,0,9,9
312,1982,Hungary,El Salvador,10,1,11,9
66,1950,Uruguay,Bolivia,8,0,8,8
46,1938,Sweden,Cuba,8,0,8,8
583,2002,Germany,Saudi Arabia,8,0,8,8
88,1954,Turkey,Korea Republic,7,0,7,7
737,2010,Portugal,Korea DPR,7,0,7,7
246,1974,Haiti,Poland,0,7,7,7
83,1954,Uruguay,Scotland,7,0,7,7
24,1934,Italy,USA,7,1,8,6
848,2014,Brazil,Germany,1,7,8,6
70,1950,Brazil,Sweden,7,1,8,6
305,1978,Argentina,Peru,6,0,6,6
280,1978,Germany FR,Mexico,6,0,6,6

In [75]:
# Mayores goleadas del 2000 en adelante
df_matches_short.sort_values(by = 'Goal Differences', ascending=False).loc[df_matches_short['Year'] > 2000].head(15)

,Year,Home Team Name,Away Team Name,Home Team Goals,Away Team Goals,Total Goals,Goal Differences
583,2002,Germany,Saudi Arabia,8,0,8,8
737,2010,Portugal,Korea DPR,7,0,7,7
848,2014,Brazil,Germany,1,7,8,6
664,2006,Argentina,"rn"">Serbia and Montenegro",6,0,6,6
826,2014,Brazil,Germany,1,7,8,6
791,2014,Cameroon,Croatia,0,4,4,4
658,2006,Spain,Ukraine,4,0,4,4
715,2010,Germany,Australia,4,0,4,4
610,2002,Portugal,Poland,4,0,4,4
674,2006,Saudi Arabia,Ukraine,0,4,4,4
604,2002,Brazil,China PR,4,0,4,4
783,2014,Germany,Portugal,4,0,4,4
774,2014,Spain,Netherlands,1,5,6,4
766,2010,Argentina,Germany,0,4,4,4
758,2010,Germany,England,4,1,5,3

Goles promedio por partido para cada mundial

In [77]:
df_mundiales['AvgGoals'] = df_mundiales['GoalsScored'] / df_mundiales['MatchesPlayed']
df_mundiales.head()

,Name,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,AvgGoals
0,Uruguay 1930,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549,3.888889
1,Italy 1934,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363,4.117647
2,France 1938,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7,4.666667
3,Brazil 1950,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246,4.000000
4,Switzerland 1954,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607,5.384615

In [79]:
df_mundiales.sort_values(by = 'AvgGoals', ascending=False).head(15)

,Name,Year,Country,Winner,Runners-Up,Third,Fourth,GoalsScored,QualifiedTeams,MatchesPlayed,Attendance,AvgGoals
4,Switzerland 1954,1954,Switzerland,Germany FR,Hungary,Austria,Uruguay,140,16,26,768.607,5.384615
2,France 1938,1938,France,Italy,Hungary,Brazil,Sweden,84,15,18,375.7,4.666667
1,Italy 1934,1934,Italy,Italy,Czechoslovakia,Germany,Austria,70,16,17,363,4.117647
3,Brazil 1950,1950,Brazil,Uruguay,Brazil,Sweden,Spain,88,13,22,1.045.246,4.000000
0,Uruguay 1930,1930,Uruguay,Uruguay,Argentina,USA,Yugoslavia,70,13,18,590.549,3.888889
5,Sweden 1958,1958,Sweden,Brazil,Sweden,France,Germany FR,126,16,35,819.81,3.600000
8,Mexico 1970,1970,Mexico,Brazil,Italy,Germany FR,Uruguay,95,16,32,1.603.975,2.968750
11,Spain 1982,1982,Spain,Italy,Germany FR,Poland,France,146,24,52,2.109.723,2.807692
6,Chile 1962,1962,Chile,Brazil,Czechoslovakia,Chile,Yugoslavia,89,16,32,893.172,2.781250
7,England 1966,1966,England,England,Germany FR,Portugal,Soviet Union,89,16,32,1.563.135,2.781250
14,USA 1994,1994,USA,Brazil,Italy,Sweden,Bulgaria,141,24,52,3.587.538,2.711538
10,Argentina 1978,1978,Argentina,Argentina,Netherlands,Brazil,Italy,102,16,38,1.545.791,2.684211
15,France 1998,1998,France,France,Brazil,Croatia,Netherlands,171,32,64,2.785.100,2.671875
19,Brazil 2014,2014,Brazil,Germany,Argentina,Netherlands,Brazil,171,32,64,3.386.810,2.671875
9,Germany 1974,1974,Germany,Germany FR,Netherlands,Poland,Brazil,97,16,38,1.865.753,2.552632

Goleadores Historicos de los Mundiales

In [81]:
df_players_events = df_players.dropna(subset=['Event'])
df_players_events.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
6,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Andre MASCHINOT,NaN,G43' G87'
14,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Lucien LAURENT,NaN,G19'
35,201,1090,USA,MILLAR Bob (USA),S,0,Tom FLORIE,C,G45'

In [82]:
def cantidad_goles(cadena):
    return cadena.count('G')

In [87]:
# Asigno a una nueva columna la cantidad de goles de un jugador aplicando la función cantidad_goles a la columna de eventos
df_players_events['Goals'] = df_players_events['Event'].apply(cantidad_goles)

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [88]:
df_players_events.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event,Goals
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40',1
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70',1
6,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Andre MASCHINOT,NaN,G43' G87',2
14,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Lucien LAURENT,NaN,G19',1
35,201,1090,USA,MILLAR Bob (USA),S,0,Tom FLORIE,C,G45',1

In [91]:
df_players_goleadores = df_players_events.get(['Player Name', 'Goals']).groupby('Player Name').sum().sort_values(by = 'Goals', ascending = False)

In [93]:
df_players_goleadores.head(20)

                                      Goals
Player Name
KLOSE                                    17
RONALDO                                  16
Just FONTAINE                            13
Gerd MUELLER                             13
PELÔøΩ (Edson Arantes do Nascimento)     12
Sandor KOCSIS                            11
MÔøΩLLER                                 11
Grzegorz LATO                            10
Helmut RAHN                              10
Karl-Heinz RUMMENIGGE                     9
Paolo ROSSI                               9
Uwe SEELER                                9
VAVA                                      9
JAIRZINHO                                 9
Guillermo STABILE                         8
ADEMIR                                    8
Diego MARADONA                            8
LEONIDAS                                  8
Oscar MIGUEZ                              8
Rudi VOELLER                              8

Jugadores más expulsados de los mundiales

In [94]:
def cantidad_rojas(cadena):
    return cadena.count('R')

In [95]:
df_players_events['Red Cards'] = df_players_events['Event'].apply(cantidad_rojas)

ipykernel_launcher:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [96]:
df_players_events.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event,Goals,Red Cards
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40',1,0
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70',1,0
6,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Andre MASCHINOT,NaN,G43' G87',2,0
14,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Lucien LAURENT,NaN,G19',1,0
35,201,1090,USA,MILLAR Bob (USA),S,0,Tom FLORIE,C,G45',1,0

In [97]:
df_players_expulsados = df_players_events.get(['Player Name', 'Red Cards']).groupby('Player Name').sum().sort_values(by = 'Red Cards', ascending = False)

In [98]:
df_players_expulsados.head(15)

                    Red Cards
Player Name
SONG                        2
DUARTE O.                   2
Emil KREMENLIEV             1
Ray WILKINS                 1
Dick NANNINGA               1
Rafael ALBRECHT             1
Ramon RAMIREZ               1
David BECKHAM               1
Darryl POWELL               1
Ray RICHARDS                1
Ricardo GIUSTI              1
Refik SABANADZOVIC          1
Rudi VOELLER                1
Rigobert SONG               1
DOMORAUD                    1

Graficos con distintos casos en los Mundiales

In [104]:
df_mundiales.plot(kind = 'bar', x = 'Year', y = 'GoalsScored')

NameError: name 'bar' is not defined

In [ ]:
df_players_goleadores.plot()